* {
    font-family: Helvetica, Arial, sans-serif;
    background-color: antiquewhite;
    box-sizing: border-box;
}

img {
    width: 600px;
    height: auto;
}

.dish-img {
    text-align: center;
}

.dish-list {
    margin: 0 auto;
    width: 700px;
    text-align: center;
}

.dish-about {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1,
h3 {
    color: orangered;
    text-align: center;
}

.main-list,
.main-dish {
    font-size: 52px;
    background-color: orange;
}

.btn-back {
    text-align: center;
}

button {
    font-size: 20px;
}

